* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    position: relative;
}

body img {
    object-fit: cover;
    width:100%;
    animation: alarm 0.5s alternate 8;
}

@keyframes alarm {
    from {}
    to {filter: brightness(1.5)}
}


.batman {
    animation: go-away 3s linear;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    position: absolute;
    top: 300px;
    left: 550px;
}

@keyframes go-away {
    0%{}

    40% {
        transform: rotateX(45deg) rotateY(45deg) rotate(5deg);
    }

    100% {
        transform: translate(100px, -300px) scale(0.001, 0.001);
        display: none;
    }

}

.batman::after {
    content: '';
    display: table;
    clear: both;
}

body .container > div {
    width: calc(12 * 10px);  /*ncolonne * larghezza colonna*/
}

div:only-child:not([class*="col-"]) {
    height: 10px;
}

.black {
    background: black
}

.light-black {
    background: #332c38;
}

.light-brown {
    background: #d9b480;
}

.white {
    background: white;
}

.gray {
    background: gray;
}

.yellow {
    background: yellow;
}
