* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    padding: 150px 0;
    background-image: url('https://cdn.wallpapersafari.com/36/93/y4RjL1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: middle;
}

.batman {
    width: 360px;
    margin: auto;
}

.batman::after {
    content: '';
    display: table;
    clear: both;
}

body .container > div {
    width: calc(12 * 10px);  /*ncolonne * larghezza colonna*/
}

div:only-child:not([class*="col-"]) {
    height: 10px;
}

.black {
    background: black
}

.light-black {
    background: #332c38;
}

.light-brown {
    background: #d9b480;
}

.white {
    background: white;
}

.gray {
    background: gray;
}

.yellow {
    background: yellow;
}
